body {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight: 500;
}

/* Styling the navbar */
header nav{
    height: 64px;
}
.nav-footer-container{
    padding:0 72px 0 72px;
}


header nav ul{
   margin-left: 90px; 
}
header nav ul li{
    padding-right: 7px;  
}
header nav ul li:hover{
    background-color: #666464;
    border-radius: 50px;    
}
.icon-align{
    padding-top: 4px;
}   
.icon-links{
    padding-right: 30px;
}
#sign-btn{
    margin-top: 13px;
    border-radius: 20px;
}

/*  styling first section and the tabs */
#section1 {
    height: 100vh;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center center;
}
#tabs-size{
    background-color: #FEFDFB;
    width: 100%;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
}
#tab-size{
    width:12.5%;
    text-transform: inherit;
}
#tab-size a {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    color: black;
    line-height: 16px;
    height: 100px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight: 500;
}
.tabs .indicator{
    background-color: black;
    color: black;
    border-bottom: 5px solid black;
}
.tabs #tab-size a:hover, .tabs #tab-size a.active {
    background-color: transparent;
}
.tab-sec{
    height: auto;
}
#tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8{
    padding-bottom: 4%;
    padding-top:24px;
    padding-left:24px;
    padding-right:24px;
}
.tab-sec h2{
    vertical-align: inherit;
    font-size: 52px;
    line-height: 64px;
}
.tab-sec p{
    line-height: 24px;
    margin-bottom: 18px;    
    margin-top: 18px;
    font-weight: normal;
    font-size: 16px;
    display: block;
}
.tab-sec button{
    background-color: black;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    line-height: 20px;
    font-weight: 500;
}
.tab-sec a{
    font-size: 16px;
    vertical-align: inherit;
    line-height: 32px;
    font-weight: normal;
    border-bottom: 1px solid rgb(197, 193, 193);
    padding-bottom: 10px;
    color: black;
    margin-left: 10px;
}
.tab-sec a:hover{
    border-bottom: 1px solid black;
  transition: step-start 0.4s;
}

/*  Styling cities section */
#section2{
    height: 95vh;
    background-image: url(images/modalite.jpg);
    background-size: cover;
    background-position: center ;
}
.cities-sec h2{
    vertical-align: inherit;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}
.cities-sec a{
    font-size: 16px;
    vertical-align: inherit;
    line-height: 32px;
    font-weight: normal;
    border-bottom: 1px solid rgb(197, 193, 193);
    padding-bottom: 10px;
    color: #333333;
    align-items: center;
}

/*  Styling uber for bussines section */
.buss-sec h2{
    line-height: 44px;
    font-size: 36px;
}
.buss-sec h6{
    line-height: 24px;
    font-size: 18px;
}
.buss-sec p{
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    color: #757373;
}
.buss-sec a{
    font-size: 16px;
    vertical-align: inherit;
    line-height: 32px;
    font-weight: normal;
    border-bottom: 1px solid #757373;
    color: #333333;
    align-items: center;
}

/*  Styling safety section */
.safety-sec img{
    padding-top: 90px;
}
.safety-sec h2{
    line-height: 44px;
    font-size: 36px;
}
.safety-sec p{
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    color: #757373;
}
.safety-sec a{
    font-size: 14px;
    vertical-align: inherit;
    line-height: 24px;
    font-weight: normal;
    border-bottom: 1px solid #757373;
    color: #333333;
    align-items: center;
}

/*  Styling about us section */
.about-sec img{
    margin-top:60px;
}
.about-sec h6{
    line-height: 24px;
    font-size: 18px;
}
.about-sec p{
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    color: #757373;
}
.about-sec a{
    font-size: 16px;
    vertical-align: inherit;
    line-height: 32px;
    font-weight: normal;
    border-bottom: 1px solid #757373;
    color: #333333;
    align-items: center;
}


/*  Styling the footer section */
.footer-head{
    padding-bottom: 60px;
}
.footer-head h4{
    white-space: nowrap;
    line-height: 80px;
    font-weight: 400;
    font-size: 20px;
}
.footer-head a{
    vertical-align: inherit;
    padding-bottom: 2px;
    font-weight: 400;
    will-change: background-size;
    color: white;
}
.footer-head a:hover{
    text-decoration: underline;
}
.footer-content{
    margin-bottom: 30px;
}
.footer-content a{
    line-height: 20px;
    font-size: 14px;
    vertical-align: inherit;
    padding-bottom: 2px;
    font-weight: normal;
    color: rgb(182, 179, 179);
}

/*  Styling the contact in the footer section */
.contact-sec{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.contact-sec a{
    color: white;
    letter-spacing: 2px;
}
.contact-sec a i{
    padding-right: 5px;
}
.contact-sec a:hover{
    color: rgb(165, 160, 160); 
}
.contact-sec img{
    width:120px;
}


/*  Media query to be responsive with large screens */
@media (min-width:1024px){
    .section-container{
        padding:50px 136px 0 136px;
    }
    #section1{
        width: 100%;
        height: 100vh;
    }
    #tabs-size{
        width: 100%;
        height: auto;
        display: block;
        align-items: center;
    }
    #tab-size{
        width:12%;
    }
}

/*  Media query to be responsive with normal and tablets screens */
@media (min-width: 600px) and (max-width: 1024px) {
    .section-container{
        padding:50px 50px 0 50px;
    } 
    #section1{
        width: 100%;
        height: 95vh;
    }
    #tabs-size{
        width: 100%;
        height: auto;
        display: block;
        align-items: center;
    }
    #tab-size{
        width:12%;
    }
    .safety-sec img{
        padding-top: 2px;
    }
}

/*  Media query to be responsive with mobiles screens */
@media (max-width:600px){
    .section-container{
        padding:45px 5px 0 5px;
    }
    #section1{
        width: 100%;
        height: 90vh;
    }
    #tabs-size{
        width: 100%;
        height: auto;
        display: block;
        align-items: center;
    }
    #tab-size{
        width:25%;
    }
    safety-sec img{
        padding-top: 2px;
    }
}


/*  End of codes  */
