
body {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight: 500;


  }

 


header nav{
    height: 64px;
}

.nav-footer-container{
    padding:0 72px 0 72px;
}
.section-container{
    padding:45px 136px 0 136px;
}

header nav ul{
   margin-left: 90px; 
}
header nav ul li{
    padding-right: 7px;
   
}
header nav ul li:hover{
    background-color: #666464;
    border-radius: 50px;    
}

.icon-align{
    padding-top: 4px;

}   
.icon-links{
    padding-right: 30px;
}

#sign-btn{
    margin-top: 13px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.section {
    height: 100vh;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center center;
}

#tabs-size{
    background-color: #FEFDFB;
    width: 100%;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
}

#tab-size{
    width:12.5%;
    text-transform: inherit;
}
#tab-size a {
    padding-top: 20px;

    width: 100%;
    text-align: center;
    color: black;
    line-height: 16px;
    height: 100px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight: 500;

}

.tabs .indicator{
    background-color: black;
    color: black;
    border-bottom: 5px solid black;

}
.tabs #tab-size a:hover, .tabs #tab-size a.active {
    background-color: transparent;
  
}

.tab-sec{
    height: auto;
}
#tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8{
    padding-bottom: 40px;
}